<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <exception-type>java.lang.Exception</exception-type>
    <location>/notfound.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>PlaceServlet</display-name>
    <servlet-name>PlaceServlet</servlet-name>
    <servlet-class>com.flyway.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceServlet</servlet-name>
    <url-pattern>/PlaceServlet</url-pattern>
  </servlet-mapping>
</web-app>